{% extends 'base.html'%}


{% block head %}
<script type="text/javascript">


$(document).ready(function(){
	$('.toauthenticate').click(function(){
		srcURL = getTokenURL()
		$('.gimmeauth').show('fast');
		$('.toauthenticate').hide('fast')
	});
	
	$('.close').click(function(){
		$('.gimmeauth').hide('fast')
	});
});

function getTokenURL(){
	$.ajax({
		url: '/gimmeauth/',
		type:"GET",
		success: function(data){
			$('.gimmebar').attr('src',data.url)
		}
	});
}

</script>
{% endblock %}

{% block content %}
<div class="content">
	<div>LANDING PAGE</div>
	<div class="toauthenticate"><a>authenticate</a></div>
	<div class="gimmeauth">
		<div class="close">CLOSE</div>
		<iframe class="gimmebar"></iframe>
	</div>
</div>
{% endblock %}
