{% extends 'base.html'%}


{% block head %}
<script type="text/javascript">


$(document).ready(function(){
	$('.toauthenticate').click(function(){
		srcURL = getTokenURL()
		$('.gimmeauth').show('fast');
		$('.toauthenticate').hide('fast')
	});
	
	$('.close').click(function(){
		$('.gimmeauth').hide('fast')
		$('.toauthenticate').show('fast')
	});
	
	$('.next').click(function(){
		exchange = exchange();
	});
});

function getTokenURL(){
	$.ajax({
		url: '/gimmeauth/',
		type:"GET",
		success: function(data){
			window.open(data.url);
			var exchangeURL = '/exchange/?token='+data.token;
			$('.nexturl').attr('href',exchangeURL);
		}
	});
}

function exchange(){
	$.ajax({
		url: '/exchange/',
		type:"GET",
		success: function(data){
			$('.gimmebar').attr('src',data.url)
		}
	});
}

</script>
{% endblock %}

{% block content %}
<div class="content">
	<div>LANDING PAGE</div>
	<div class="toauthenticate"><a>authenticate</a></div>
	<div class="gimmeauth">
		<div class="close">CLOSE</div>
		<div class="next"><a class="nexturl">when you have accepted, click NEXT>></a></div>
	</div>
</div>
{% endblock %}
